apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ai-agent-chart.fullname" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: ai-agent
  template:
    metadata:
      labels:
        app: ai-agent
    spec:
      containers:
        - name: ai-agent
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8000
          env:
            - name: AZURE_OPENAI_ENDPOINT
              valueFrom:
                secretKeyRef:
                  name: flask-secrets
                  key: AZURE_OPENAI_ENDPOINT
            - name: AZURE_OPENAI_KEY
              valueFrom:
                secretKeyRef:
                  name: flask-secrets
                  key: AZURE_OPENAI_KEY
